/* Define standard variables and values for website */
$bgcolor: rgb(112, 184, 209);
$textcolor: darkblue;
$fontsize: 22px;

/* Use the variables */


.my-button {
    font-size: 40px;
}

.webview {
    margin-top: 15px;
}
