{
    "printWidth": 120,
    "tabWidth": 4,
    "endOfLine": "auto",
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-organize-imports"],
    "overrides": [
        {
            "files": ["*.md", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
