{
    "$schema": "https://swc.rs/schema.json",
    "test": ".tsx?$",
    "exclude": ["node_modules"],
    "sourceMaps": true,
    "module": {
        "type": "commonjs",
    },
    "jsc": {
        "target": "es2021",
        "baseUrl": "./",
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "functionBind": false,
            "decorators": true,
            "dynamicImport": true
        }
    }
}
