# These files are excluded during vsce package
.azure-pipelines/**
.github/**
.husky/**
.idea/**
.vscode-test/**
.vscode/**
build/**
dist/test/**
grammar/*.g4
grammar/*.md
node_modules/**
out/**
src/**
test/**
testOutput/**
testWorkspace/**
**/*.gif
**/*.map
*.mongo
*.tgz
*.ts
*.zip
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.nvmrc
.prettierrc
.swcrc
.travis.yml
gulp*
stats.json
test-results.xml
tsconfig.*
webpack.config*
jest.config.js
