# These files are excluded during vsce package
.vscode/**
.vscode-test/**
out/**
test/**
src/**
**/*.map
.gitignore
.travis.yml
tsconfig.json
.github/**
test-results.xml
.azure-pipelines/**
node_modules/**
dist/test/**
testOutput/**
gulp*
webpack.config*
stats.json
*.tgz
grammar/*.md
grammar/*.g4
build
*.ts
*.zip
*.mongo
testWorkspace/**
.eslintignore
.eslintrc.js
**/*.gif
.idea/**
src/webviews/**
