@use 'sass:color';

$base-background-color:                                     var(--vscode-editor-background);
$base-text-color:                                           var(--vscode-editor-foreground);

$primary-color:                                             #006DCC !default; // Can't replace here since the adjust function fails on variables
$slick-highlight-color:                                     $base-text-color;
$slick-primary-color:                                       $primary-color !default;

$slick-border-color:                                        $base-text-color;
$slick-font-color:                                          $base-text-color;

/* Slickgrid container, including headers but excluding pagination */
$slick-container-border-top:                                0 none;
$slick-container-border-right:                              0 none;
$slick-container-border-bottom:                             0 none;
$slick-container-border-left:                               0 none;
$slick-canvas-bg-color:                                     $base-background-color;

/* grid */
$slick-grid-border-color:                                   none;
$slick-grid-header-background:                              $base-background-color;
$slick-grid-header-unorderable-bg-color:                    $slick-grid-header-background;
$slick-grid-cell-color:                                     $base-text-color;
$slick-gray-dark:                                           $base-text-color;
$slick-link-color:                                          var(--vscode-textLink-foreground);
$slick-link-color-hover:                                    var(--vscode-textLink-activeForeground);
$slick-navbar-default-link-hover-color:                     $slick-gray-dark;
$slick-text-color:                                          $slick-gray-dark;
$slick-table-background:                                    transparent;
$slick-scrollbar-color:                                     var(--vscode-scrollbarSlider-activeBackground) var(--vscode-scrollbarSlider-background);
$slick-hover-header-color:                                  var(--vscode-editor-placeholder-foreground);
$slick-sorting-header-color:                                $base-text-color;
$slick-placeholder-color:                                   var(--vscode-editor-placeholder-foreground);

/* cell */
$slick-cell-active-border:                                  none;
$slick-cell-active-box-shadow:                              inset 0 0 0 1px #aaaaaa !default;
$slick-cell-box-shadow:                                     none;
$slick-cell-display:                                        block;
$slick-cell-text-color:                                     $base-text-color;
$slick-cell-border-top:                                     1px transparent;
$slick-cell-border-right:                                   1px transparent;
$slick-cell-border-bottom:                                  1px transparent;
$slick-cell-border-left:                                    1px transparent;
$slick-cell-even-background-color:                          var(--vscode-diffEditor-unchangedCodeBackground);
$slick-cell-odd-background-color:                           var(--vscode-diffEditor-unchangedCodeBackground); // for striping every second row
$slick-cell-odd-active-background-color:                    var(--vscode-diffEditor-unchangedCodeBackground);
// var(--vscode-diffEditor-removedLineBackground);

/* row */
$slick-row-mouse-hover-color:                               var(--vscode-diffEditor-insertedLineBackground);
$slick-row-mouse-hover-box-shadow:                          none;
$slick-row-selected-color:                                  var(--vscode-editor-findMatchBackground);
$slick-row-highlight-background-color:                      var(--vscode-editor-selectionHighlightBackground);
$slick-row-checkbox-selector-background:                    inherit;
$slick-row-checkbox-selector-border:                        none;

/* header */
$slick-header-row-count:                                    1;
$slick-header-background-color:                             $base-background-color;
$slick-header-border-top:                                   0 none;                      // header, column titles, that is without the Filters
$slick-header-border-right:                                 0 none;
$slick-header-border-bottom:                                0 none;
$slick-header-border-left:                                  0 none;
$slick-header-column-background-active:                     color.adjust($slick-grid-header-background, $lightness: -5%) !default;
$slick-header-column-background-hover:                      color.adjust($slick-grid-header-background, $lightness: -2%) !default;
$slick-header-column-sortable-background-hover:             $base-background-color;
$slick-header-column-border-top:                            0 none;                      // header, column titles, that is without the Filters
$slick-header-column-border-right:                          0 none;
$slick-header-column-border-bottom:                         0 none;
$slick-header-column-border-left:                           0 none;
$slick-header-filter-row-border-top:                        0 none;                      // header row is where the Filters are showing
$slick-header-filter-row-border-right:                      0 none;
$slick-header-filter-row-border-bottom:                     0 none;
$slick-header-filter-row-border-left:                       0 none;
$slick-header-row-background-color:                         $base-background-color;
$slick-header-text-color:                                   $base-text-color;
$slick-header-resizable-hover:                              1px solid var(--vscode-editor-selectionBackground);
$slick-header-resizable-hover-border-bottom:                0 none;
$slick-header-resizable-hover-border-left:                  0 none;
$slick-header-resizable-hover-border-right:                 $slick-header-resizable-hover;
$slick-header-resizable-hover-border-top:                   0 none;

/* Empty Data Warning element */
$slick-empty-data-warning-color:                            $slick-cell-text-color;

/* icons */
$slick-icon-color:                                          inherit;
$slick-icon-group-color:                                    $slick-icon-color;
$slick-icon-sort-color:                                     $slick-icon-color;
$slick-detail-view-icon-color:                              $slick-icon-color;
$slick-column-picker-icon-color:                            $slick-icon-color;
$slick-checkbox-icon-color:                                 $slick-icon-color;
$slick-multiselect-icon-color:                              $slick-icon-color;
$slick-multiselect-icon-checked-color:                      $slick-icon-color;
$slick-pagination-icon-color:                               $slick-icon-color;
