name: Node PR Lint, Build and Test

on:
  # Trigger when manually run
  workflow_dispatch:

  # Trigger on pushes to `main` or `rel/*`
  push:
    branches:
      - main
      - rel/*

  # Trigger on pull requests to `main` or `rel/*`
  pull_request:
    branches:
      - main
      - rel/*
      - dev/*

jobs:
  Build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: '.'

    steps:
      # Setup
      - uses: actions/checkout@v3
      - name: Using Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - run: npm ci

      - name: Lint
        run: npm run lint

      - name: Prettier
        run: npm run prettier

      - name: Compile
        run: npm run build

      - name: Package
        run: npm run package

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: |
            **/*.vsix
            **/*.tgz
            !**/node_modules

      - name: Unit Tests
        run: npm run jesttest

      - name: Integration Tests
        run: xvfb-run -a npm test
